<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/d719989caa.js"
      crossorigin="anonymous"
    ></script>
    <style>
      .st1 {
        font-size: 2rem;
        color: red;
      }
      .c_potinter {
        cursor: pointer;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <i class="fa-solid fa-bug st1"></i>
    <i class="fa-solid fa-microchip"></i>
    <i class="bi bi-x-square-fill c_potinter"></i>
    <i class="bi bi-windows"></i>
    <hr />
    <form action="">
      <input type="file" name="file" id=""/>
    </form>
  </body>
</html>
